html {
	background-color: black;
	/* has to be scroll, not auto; */
	-webkit-overflow-scrolling: touch;
	scroll-behavior: smooth;
	line-height: 1.5;
	-webkit-text-size-adjust: 100%;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
	font-feature-settings: normal;
	font-variation-settings: normal
}

.v-application {
	font-family: Open Sans, sans-serif;
}

.services-section {
	background-color: black;
}

.languages {
	top: 0 !important;
	position: absolute !important;
	right: 0 !important;
	border-radius: 13px;
	border: solid thick purple;
}

.v-application--is-ltr .v-list-item__action:first-child,
.v-application--is-ltr .v-list-item__icon:first-child {
	margin-right: 0px !important;
}

.v-application a {
	color: white !important;
	text-decoration: none !important;
}

.v-application a:hover {
	color: purple !important;
}

.selectedGame {
	background: bottom / cover no-repeat url(/img/backgrounds/active-game-bg.png);
}

.v-toolbar__content,
.v-toolbar__extension {
	padding: 0px;
}

.v-toolbar__content>.v-tabs,
.v-toolbar__extension>.v-tabs {
	margin-top: 0px;
}

.v-tabs-slider-wrapper {
	height: 5px;
}

.v-slider--horizontal .v-slider__track-container {
	height: 18px !important;
}

.v-slider__thumb {
	height: 26px !important;
	width: 32px !important;
	background-color: #FFFFFF !important;
}
