/node_modules
/public/hot
/public/storage
/public/fonts
/public/assets
/public/images
/public/vendor
/public/css
/public/js
/public/mix-manifest.json
/storage/*.key
/vendor
/nova
/.vscode
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
