:root {
	--transparent: transparent;
	--black: #0B0B0E;
	--white: white;
	--white-50: rgba(255, 255, 255, 0.5);
	--danger: #e74444;
	--success: #21b978;
	--warning: #ffeb3b;
	--info: #7E3192;
	--primary: #6334C7;
	--primary-dark: #297ec0;
	--primary-70: rgba(99, 52, 199, 0.7);
	--primary-50: rgba(99, 52, 199, 0.5);
	--primary-30: rgba(99, 52, 199, 0.3);
	--primary-10: rgba(99, 52, 199, 0.1);
	--logo: ;
	--sidebar-icon: #BFB3D1;
	--20: rgb(212, 212, 221);
	--30: rgb(183, 183, 199);
	--40: rgb(155, 155, 176);
	--50: rgb(126, 126, 154);
	--60: rgb(101, 101, 128);
	--70: rgb(78, 78, 100);
	--80: rgb(78, 78, 100);
	--90: rgb(33, 33, 43);
	--90-half: rgba(40, 54, 61, 0.5);
}

.bg-grad-sidebar {
	background-image: linear-gradient(0deg, #7e8ea1 0%, #3c4655 100%);
}


body {
	font-family: 'Evogria';
	font-weight: normal;
}

.bg-40 {
	background-color: #353d53;
}

.bg-white {
	background-color: #1b2438;
}

.text-90 {
	color: var(--primary-dark);
}

.card {
	background-color: #232b41;
}

.table td {
	font-weight: 300;
	color: var(--primary);
	font-weight: 800;
	border-bottom-width: .5px;
	border-color: #666;
	padding-left: .75rem;
	padding-right: .75rem;
	height: 3.8125rem;
	background-color: #272727;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre {
	color: var(--primary);
}

.table th {
	background-color: #333;
	color: #fff;
}

.text-90-half {
	color: #fff;
}

.heroicon-ui {
	fill: var(--primary);
}

.card.overflow-hidden.flex.flex-row>button {
	color: white;
}

div[dusk="orders-detail-component"]:nth-of-type(3) {
	width: 62%;
	float: left;
}

div[dusk="orders-detail-component"]:nth-of-type(4) {
	width: 38%;
	float: right;
}
