// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$slider-thumb-focused-size-increase: 48px !default;
$slider-horizontal-margin-bottom: 0px !default;
$slider-horizontal-margin-top: 50px !default;
